{% extends "home/homepage.html" %}
{% load static %}

{% block title %}<title>ZetaPanel | Задача {{task.id}}</title>{% endblock %}

{% block content %}

<div class="container-lg mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="task-title mb-3">Задача #{{ task.id }}</h2>
                    <h5 class="card-title mb-3">Задача: {{ task.ticket }}</h5>
                    <p class="card-subtitle mb-2 text-muted">Описание задачи:</p>
                    <p class="card-text mb-3">{{ task.ticket_comment | linebreaksbr }}</p>
                    <div class="card-header">
                        Свойства
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="bi bi-calendar3"></i> Дата: {{ task.date | date:"j F, Y" }}
                        </li>
                        <li class="list-group-item">
                            {% if task.author.first_name and task.author.last_name %}
                            <i class="bi bi-person-fill"></i> Автор: {{ task.author.first_name }} {{ task.author.last_name }}
                            {% else %}
                            <i class="bi bi-person-fill"></i> Автор: {{ task.author|default_if_none:"Неизвестно" }}
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-exclamation-triangle-fill"></i> Приоритет: {{ task.get_priority_display }}
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-toggle-on"></i> Статус: {{ task.get_status_display }}
                        </li>
                        <li class="list-group-item">
                            {% if task.executor.first_name and task.executor.last_name %}
                            <i class="bi bi-person-check-fill"></i> Назначена: {{ task.executor.first_name }} {{ task.executor.last_name }}
                            {% else %}
                            <i class="bi bi-person-check-fill"></i> Назначена: {{ task.executor|default_if_none:"Не назначено" }}
                            {% endif %}
                        </li>
                        {% if task.deadline %}
                        <li class="list-group-item">
                            <i class="bi bi-hourglass-split"></i> Дедлайн: {{ task.deadline | date:"j F, Y" }}
                        </li>
                        {% endif %}
                    </ul>
                    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#editModal">
                        Изменить
                    </button>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Чеклист</h5>
                    <ul>
                        {% for item in task.checklist_template.items.all %}
                        <li>
                            <input type="checkbox" id="item{{ forloop.counter }}" name="item{{ forloop.counter }}">
                            <label for="item{{ forloop.counter }}">{{ item.name }}</label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Файлы</h5>
                    <ul>
                        {% for file in files %}
                        <li>
                            <a href="{% url 'download_file' file.id %}" download>{{ file.filename }}</a>
                            <span class="text-muted">({{ file.created_at | date:"H:i j.m.Y" }} - {{ file.filesize }})</span>
                            <a href="{% url 'delete_file' file.id %}" onclick="return confirm('Вы уверены что хотите удалить файл {{ file.filename }}?')" class="float-end"><i class="bi bi-x-lg text-danger"></i></a>
                        </li>
                        {% empty %}
                        <li>Нет файлов.</li>
                        {% endfor %}
                    </ul>
                    <form action="{% url 'add_file' task.id %}" method="POST" enctype="multipart/form-data" class="mt-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">Добавить файлы</label>
                            <input type="file" class="form-control" id="fileInput" name="file" multiple>
                        </div>
                        <button type="submit" class="btn btn-primary">Загрузить</button>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title mb-3">Комментарии</h5>
                    <form action="{% url 'add_comment' task.id %}" method="POST" class="mb-3" onsubmit="validateCommentForm()">
                        {% csrf_token %}
                        <textarea name="content" class="form-control mb-3" placeholder="Напишите комментарий" rows="2" style="resize: none; overflow-y: hidden; height: 60px;" oninput="autoResize(this)"></textarea>
                        <button type="submit" class="btn btn-primary">Добавить комментарий</button>
                    </form>
                    <div class="mb-3 pb-3 border-bottom"></div>
                    {% for comment in comments %}
                    <div class="{% if not forloop.last %}mb-3 pb-3 border-bottom{% else %}mb-3{% endif %}">
                        <div class="d-flex justify-content-between align-items-start">
                            <h6 class="mb-1"><i class="bi bi-person-fill"></i> {{ comment.author.first_name }} {{ comment.author.last_name }} <small class="text-muted">({{ comment.created_at | date:"H:i j.m.Y" }})</small></h6>
                            <div>
                                {% if request.user == comment.author %}
                                {% csrf_token %}
                                <a href="{% url 'delete_comment' task.id comment.id %}" onclick="return confirm('Вы уверены, что хотите удалить комментарий?')" aria-label="Удалить комментарий" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить комментарий">
                                    <i class="bi bi-x-lg text-danger"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <p class="mb-0">{{ comment.content|linebreaksbr }}</p>
                    </div>
                    {% empty %}
                        <p class="text-muted">Нет комментариев.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "taskview/edit_modal.html" %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function autoResize(textarea) {
      textarea.style.height = 'auto';  // Сбрасываем высоту до автоматической
      textarea.style.height = textarea.scrollHeight + 'px';  // Устанавливаем высоту на основе содержимого
    }
</script>
<script>
    // Add missing import statement for Swal object
    const Swal = window.Swal;

    function validateCommentForm() {
        // Check if the comment textarea is empty
        const contentInput = document.getElementsByName("content")[0];
        if (contentInput && contentInput.value.trim() === "") {
            Swal.fire({
                icon: "error",
                title: "Ошибка",
                text: "Комментарий не может быть пустым",
                timer: 1500,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                    const timer = Swal.getPopup().querySelector("b");
                    if (timer) {
                        timerInterval = setInterval(() => {
                            timer.textContent = `${Swal.getTimerLeft()}`;
                        }, 100);
                    }
                },
            });
            return false; // Prevent form submission
        }
    }
</script>

<script>
    // Сохранить позицию прокрутки перед перезагрузкой страницы
    window.onbeforeunload = function() {
        localStorage.setItem('scrollPosition', window.pageYOffset);
    };

    // Восстановить позицию прокрутки после перезагрузки страницы
    window.onload = function() {
        var scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition) {
            window.scrollTo(0, scrollPosition);
            localStorage.removeItem('scrollPosition');
        }
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}