{% extends 'home/homepage.html' %}

{% block content %}
    <div class="card text-center mx-auto" style="max-width: 400px;"> <!-- Added mx-auto class and max-width style -->
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
