{% extends "home/homepage.html" %}

{% block title %}<title>ZetaPanel | Все задачи</title>{% endblock %}

{% block content %}
<div class="container-lg mt-3">
    <h2 class="">Все задачи</h2>
    <a class="btn btn-primary" href="{% url 'task_create' %}"><i class="bi bi-plus-circle-fill"></i> Добавить</a>
</div>

<div class="container-lg">
  <!-- Filter Button and Dropdown Menu -->
  
  <div class="mb-4 mt-4">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="filterMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Фильтры
          </button>
          <div class="dropdown-menu" aria-labelledby="filterMenuButton">
              <!-- Your filter options here -->
              <form id="filter-form" method="get" action="{% url 'task_list' %}">
                  <!-- Add your filters here. For example: -->
                  <div class="p-2">
                    <label for="priorityFilter" class="form-label">Приоритет</label>
                    <select id="priorityFilter" name="priority" class="form-select">
                        <option value="">All</option>
                        <option value="High" {% if request.GET.priority == 'High' %}selected{% endif %}>High</option>
                        <option value="Medium" {% if request.GET.priority == 'Medium' %}selected{% endif %}>Medium</option>
                        <option value="Low" {% if request.GET.priority == 'Low' %}selected{% endif %}>Low</option>
                    </select>
                </div>
                <div class="p-2">
                  <label for="statusFilter" class="form-label">Статус</label>
                  <select id="statusFilter" name="status" class="form-select">
                      <option value="">All</option>
                      <option value="Open" {% if request.GET.status == 'Open' %}selected{% endif %}>Open</option>
                      <option value="In Progress" {% if request.GET.status == 'In Progress' %}selected{% endif %}>In Progress</option>
                      <option value="Closed" {% if request.GET.status == 'Closed' %}selected{% endif %}>Closed</option>
                  </select>
              </div>
                  <!-- More filters can be added here -->
                  <!-- Add a hidden input for the query string -->
                  {% if request.GET.q %}
                      <input type="hidden" name="q" value="{{ request.GET.q }}">
                  {% endif %}
                  <div class="px-2 pb-2">
                    <button type="submit" class="btn btn-success">Применить</button>
                    <button type="button" class="btn btn-outline-danger" onclick="resetFilters()">Сбросить</button>
                </div>
              </form>
            </div>
          </div>
          <form method="get" action="{% url 'task_list' %}" class="col-8">
            <div class="input-group">
              {% if request.GET.priority %}
                    <input type="hidden" name="priority" value="{{ request.GET.priority }}">
                {% endif %}
                {% if request.GET.status %}
                    <input type="hidden" name="status" value="{{ request.GET.status }}">
                {% endif %}
              <input type="text" class="form-control" name="q" placeholder="Поиск задач..." value="{{ request.GET.q }}" />
              <button type="submit" class="btn btn-primary">Поиск</button>
          </div>
          </form>
        </div>
    </div>
  </div>
</div>

<script>
  function resetFilters() {
    // Construct URL for resetting filters while keeping the search query intact
    var url = new URL(window.location.href);
    url.searchParams.delete('priority');
    url.searchParams.delete('status');
    url.searchParams.delete('q');
    window.location.href = url.href; // This will reload the page with updated URL
  }
</script>

<div class="container-fluid">
    <!-- Для больших экранов используем обычную таблицу -->
    <div class="d-none d-md-block">
      <table class="table table-bordered table-sm align-middle text-center table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Дата</th>
              <th>Автор</th>
              <th style="width: 20%">Задача</th>
              <th>Приоритет</th>
              <th>Статус</th>
              <th>Назначенаа</th>
              <th style="width: 3%"></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for task in tasks %}
            <tr>
              <td data-column="ID"><a href="{% url 'task_edit' pk=task.id %}">{{ task.id }}</a></td>
              <td data-column="Date">{{ task.date }}</td>
              <td data-column="Author">{{ task.author }}</td>
              <td data-column="Ticket" class="align-left text-start">
                <a href="{% url 'task_edit' pk=task.id %}" 
                   data-bs-toggle="tooltip" 
                   data-bs-placement="top" 
                   title="{{ task.ticket }}">
                  {{ task.ticket|truncatechars:40 }}
                </a>
              </td>
              <td data-column="Priority">{{ task.priority }}</td>
              <td data-column="Status">{{ task.status }}</td>
              <td data-column="Executor">{{ task.executor }}</td>
              <td data-column="Actions">
                <!-- Dropdown button -->
                <div class="dropdown">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'task_edit' task.id %}">Просмотреть</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Редактировать</a></li>
                    <li><a class="dropdown-item" href="#">Удалить</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            {% empty %}
            <div class="alert alert-warning container" role="alert">
              Задачи не найдены.
            </div>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    <!-- Для маленьких экранов используем вертикальное отображение -->
    <div class="d-block d-md-none">
        {% for task in tasks %}
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>ID:</strong> {{ task.id }}</li>
                <li class="list-group-item"><strong>Дата:</strong> {{ task.date }}</li>
                <li class="list-group-item"><strong>Автор:</strong> {{ task.author }}</li>
                <li class="list-group-item"><strong>Задача:</strong> <a href="{% url 'task_edit' pk=task.id %}">{{ task.ticket|truncatechars:33 }}</a></li>
                <li class="list-group-item"><strong>Приоритет:</strong> {{ task.priority }}</li>
                <li class="list-group-item"><strong>Статус:</strong> {{ task.status }}</li>
                <li class="list-group-item"><strong>Назначена:</strong> {{ task.executor }}</li>
                <li class="list-group-item">
                  <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <a><i class="bi bi-three-dots-vertical"></i>Действия</a>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="{% url 'task_edit' task.id %}">Просмотреть</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Редактировать</a></li>
                      <li><a class="dropdown-item" href="#">Удалить</a></li>
                    </ul>
                  </div>
                </li>
            </ul>
        </div>
        {% empty %}
        <div class="alert alert-warning" role="alert">
            Задачи не найдены.
        </div>
        {% endfor %}
    </div>
</div>

        {% comment %} <!-- Мобильная разметка -->
        <div class="mobile-table">
            {% for task in tasks %}
            <div class="table-row">
                <div class="table-cell">ID</div>
                <div class="table-cell">{{ task.id }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Date</div>
                <div class="table-cell">{{ task.date }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Author</div>
                <div class="table-cell">{{ task.author }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Ticket</div>
                <div class="table-cell">
                    <a href="{% url 'task_edit' pk=task.id %}">{{ task.ticket }}</a>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">Ticket Comment</div>
                <div class="table-cell">{{ task.ticket_comment }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Actions</div>
                <div class="table-cell">
                    <a class="btn" href="{% url 'task_edit' task.id %}">Edit</a>
                    <a class="btn red" href="{% url 'task_delete' task.id %}">Delete</a>
                </div>
            </div>
            {% empty %}
            <div class="table-row">
                <div class="table-cell" colspan="2">No tasks available.</div>
            </div>
            {% endfor %}
        </div>
    </div> 
{% endcomment %}
    

    <!-- Пагинация -->
    <div class="container-lg">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          {% if tasks.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ tasks.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
      
          <!-- Текущая страница и всего страниц -->
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ tasks.number }} из {{ tasks.paginator.num_pages }}</span>
          </li>
      
          {% if tasks.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ tasks.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ tasks.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
      

{% endblock %}
